<% form_for(@castable) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
		<%= f.collection_select :user_id, @users, :id, :username %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.collection_select :role_id, @roles, :id, :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>