<% breadcrumb Castable %>
<h1>Roltoekenningen</h1>


<table cellpadding="2" cellspacing="2" border="1" id="castables">
  <tr>
    <th>Gebruiker</th>
    <th>Rol</th>
    <th colspan="3">Acties</th>
  </tr>

<% @castables.each do |castable| %>
  <tr>
    <td><%=h castable.user.username %></td>
    <td><%=h castable.role.nil? ? "Géén rol toegekend" : castable.role.title %></td>
    <td><%= link_to 'Toon', castable %></td>
    <td><%= link_to 'Bewerk', edit_castable_path(castable) %></td>
    <td><%= link_to 'Verwijder', castable, :confirm => 'Weet u dit zeker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="actions">
<%= link_to 'Meer rollen toekennen', new_castable_path %>
</div>
