<h1>Roltoekenningen</h1>

<table>
  <tr>
    <th>Gebruiker</th>
    <th>Rol</th>
  </tr>

<% @castables.each do |castable| %>
  <tr>
    <td><%=h castable.user.username %></td>
    <td><%=h castable.role.nil? ? "Géén rol toegekend" : castable.role.title %></td>
    <td><%= link_to 'Toon', castable %></td>
    <td><%= link_to 'Bewerk', edit_castable_path(castable) %></td>
    <td><%= link_to 'Verwijder', castable, :confirm => 'Weet u dit zeker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Meer rollen toekennen', new_castable_path %>