<% breadcrumb @message %>
<h1><%= @message.step.title %></h1>

<% semantic_form_for(@message) do |f| %>

  <% f.inputs do %>
    <%= f.input :title %>
    <%= f.input :body %>
  <% end %>
  <% f.buttons do %>
  	<%= f.commit_button %>  of <%= link_to "sla niets op en ga terug naar het oorspronkelijke bericht", @message %>
  <% end %>

<% end %>

