<% breadcrumb @message %>
<h1><%= @message.step.title %></h1>

<% if @message.test? %>
	<br />
	<hr />
	<p>
		<b>Let op: Dit is een test waardoor het bericht ook naar uw eigen Antorcha wordt gestuurd.</b>
	</p>
	<hr />
	<br />
<% end %>

<% semantic_form_for(@message) do |f| %>

  <% f.inputs do %>
    <%= f.input :title %>
		<% if @message.step.form %>
			<%= @message.step.form.empty? ? f.input(:body) : @message.step.form %>
		<% else %>
			<%=  f.input(:body) %>
		<% end %>
		
		
  <% end %>
  <% f.buttons do %>
  	<%= f.commit_button %>  of <%= link_to "sla niets op en ga terug naar het oorspronkelijke bericht", @message %>
  <% end %>

<% end %>

