<h1>Inbox</h1>

<h2>Start een nieuwe transactie</h2>

<ul>
<% @steps_to_start_with.each do |step| %>
  <li><%= link_to "Start #{step.title}", new_step_message_url(step)%></li>
<% end %>
</ul>
  
<h2>Berichten</h2>

<table>
  <tr>
    <th>Afzender</th>
    <th>Transactiestap</th>
    <th>Transactie</th>
    <th>Verzenddatum</th>
  </tr>

<% @messages.each do |message| %>
  <tr class="message <%= message.shown? %>">
    <td><%= link_to h(message.title), message %></td>
    <td><%= link_to h(message.step.title), message.step %></td>
    <td><%= link_to h(message.step.task.title), message.step.task %></td>
    <td><%= l(message.sent_at, :format => :short) if message.sent? %></td>
  </tr>
<% end %>
</table>
