<h1>Inbox</h1>

<h2>Start een nieuwe transactie</h2>

<% @steps_to_start_with.each do |step| %>
  <%= link_to "Start #{step.title}", new_step_message_url(step)%>
<% end %>
  
<h2>Messages</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
		<th>Incoming?</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%=h message.title %></td>
    <td><%=h message.body %></td>
		<td><%=h message.incoming?  %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>