<h1>Messages</h1>

<% if false %>
<h2>Start een nieuwe Instructie</h2>

<ul>
<% @instructions_to_start_with.each do |instruction| %>
  <li><%= link_to "Start: #{instruction.title} (van Procedure: #{instruction.procedure.title})", new_instruction_message_url(instruction)%></li>
<% end %>
</ul>
<% end %>
  
<h2>Messages</h2>
<p>
  <%= link_to "inbox", :search => {:inbox => true} %> |
  <%= link_to "outbox", :search => {:outbox => true} %>
</p>

<table>
  <tr>
    <th>Message title</th>
    <th>Instruction title</th>
    <th>Procedure title</th>
    <th>Direction</th>
  </tr>

<% @messages.each do |message| %>
  <tr class="message <%= message.shown? %>">
    <td><%= link_to h(message.title), message %></td>
    <td><%= link_to h(message.instruction.title), message.instruction %></td>
    <td><%= link_to h(message.instruction.procedure.title), message.instruction.procedure %></td>
    <td><%= message.incoming? ? "In" : "Out" %> <%= l(message.sent_at, :format => :short) if message.sent? %></td>
  </tr>
<% end %>
</table>
