<% breadcrumb [@transaction, Message].compact %>

<%= render :partial => 'index' %>

<% content_for :sidebar do -%>
<h2>Berichten filteren </h2>

<ul>
	<li><%= link_to "Alle", :search => nil %></li>
  <li><%= link_to "Inkomende", :search => {:inbox => true} %></li>
  <li><%= link_to "Uitgaande", :search => {:outbox => true} %></li>
	<li><%= link_to "Verlopen", :search => {:expired => true} %></li>
	<li><%= link_to "Gelezen", :search => {:read => true} %></li>
	<li><%= link_to "Ongelezen", :search => {:unread => true} %></li>
	<li><%= link_to "Geannuleerd", :search => {:cancelled => true} %></li>
	<li><%= link_to "Niet verlopen en ongelezen", :search => {:unread => true, :unexpired => true} %></li>
</ul>


	<%# if current_user.roles.include? :advisor % >
		<h3>Filter op Definitie</h3>
		<ul>
		<% Definition.all.each do |definition| % >
			<li><%= link_to definition.title, messages_path(:search => {:with_definition => definition}) % ></li>
		<% end % >
		</ul>
		<h3>Filter op Transacties</h3>
		<ul>
			<li><%= link_to "Alles <small>(#{Message.count} berichten)</small", messages_path % ></li>
			<% Transaction.all.each do |transaction| % >
				<li><%= link_to "#{transaction.title} <small>(#{transaction.messages.count} berichten)</small>", transaction_messages_path(transaction) % ></li>
			<% end % >
		</ul>
	<% end #%>


<% end -%>

<%= will_paginate @messages %>
