<h1>Messages</h1>

<p class="intro">
  <% if @transaction %>
    of <%= link_to_transaction @transaction %>.
    <% if can? :create, Message %>
      Create a <%= link_to_new_transaction_message @transaction %>.
    <% end %>
  <% end %>
  <%= link_to "Nieuwe transactie", new_transaction_initiation_path %>
</p>

<p>
  <%= link_to "inbox", :search => {:inbox => true} %> |
  <%= link_to "outbox", :search => {:outbox => true} %>
</p>

<table>
  <tr>
    <th>Message title</th>
    <th>Step title</th>
    <th>Definition title</th>
    <th>Direction</th>
  </tr>

<% @messages.each do |message| %>
  <tr class="message <%= message.shown? %>">
    <td><%= link_to h(message.title), message %></td>
    <td><%= link_to_step message.step %></td>
    <td><%= link_to h(message.step.definition.title), message.step.definition %></td>
    <td><%= message.incoming? ? "In" : "Out" %> <%= l(message.sent_at, :format => :short) if message.sent? %></td>
  </tr>
<% end %>
</table>
