<h1>Inbox</h1>

<h2>Start een nieuwe transactie</h2>

<ul>
<% @steps_to_start_with.each do |step| %>
  <li><%= link_to "Start #{step.title}", new_step_message_url(step)%></li>
<% end %>
</ul>
  
<h2>Berichten</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
		<th>Incoming?</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%=h message.title %></td>
    <td><%=h message.body %></td>
		<td><%=h message.incoming?  %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
