<h1><%=h @message.title %></h1>

<p>Transactiestap <%= @message.step.title %></p>
<p>Bericht is
  <% if @message.sent? %>
    verstuurd op <%=h l(@message.sent_at, :format => :short) %>
    <% if @message.delivered? %>
      en aangekomen op <%=h l(@message.delivered_at, :format => :short) %>.
    <% else %>
      en nog niet aangekomen.
    <% end %>
  <% else %>
    een concept en is nog niet verstuurd.
  <% end %>
</p>

<p>
  <b>Body:</b>
  <%=h @message.body %>
</p>

<p>
  <b>Incoming?:</b>
  <%=h @message.incoming? %>
</p>

<% unless @message.sent? %>
  <%= button_to 'Verstuur', message_delivery_path(@message), :method => :post %> |
<% end %>
<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>