<p>
  <b>Title:</b>
  <%=h @message.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @message.body %>
</p>

<p>
  <b>Incoming?:</b>
  <%=h @message.incoming? %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>