<h1><%=h @message.title %></h1>

<p>Transactiestap <%= @message.step.title %></p>

<p>
  <b>Body:</b>
  <%=h @message.body %>
</p>

<p>
  <b>Incoming?:</b>
  <%=h @message.incoming? %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>