<h1>Message <strong><%=h @message.title  %></strong></h1>
<p class="intro">
  in transaction <%= link_to_transaction @message.transaction %>
  which follows definition <%= link_to_definition @message.step.definition %>
  based on step <%= link_to_step @message.step %>
</p>
<p>Message 
  <% if @message.incoming? %>
    was received at <%=h l(@message.created_at, :format => :short) %>.
  <% else %>
    <% if @message.sent? %>
      was sent at <%=h l(@message.sent_at, :format => :short) %>
      <% if @message.delivered? %>
        and received at <%=h l(@message.delivered_at, :format => :short) %>.
      <% else %>
        and not received.
      <% end %>
    <% else %>
      is a concept and has not yet been sent.
    <% end %>
  <% end %>
</p>

<p>
  <b>Body:</b>
  <%=h @message.body %>
</p>

<div class="actions">
  <%= link_to "Reageer op Bericht", new_message_reply_path(@message) if @message.incoming? %>
  <%= [ link_to_send_message(@message), link_to_edit_message(@message) ].compact.join(" | ") %>
</div>
