<% breadcrumb @message %>
<%# breadcrumb [@message.step.definition],[@message.step], @message %>
<div class="<%= @message.cancelled? %> <%= @message.expired? %>">
  <h1 class="as_in_table">
  	<small class="icons"><span class="<%= @message.incoming? ? "icon_incoming" : "icon_outgoing" %>"><%= @message.incoming? ? "In" : "Out" %></span></small>
  	<small class="sender">{afzender}</small>
  	<strong>Message <%=h @message.title %></strong>
  	<small class="date"><%= l(@message.sent_at, :format => :short) if @message.sent? %> <%= l(@message.created_at, :format => :short) if @message.incoming? %></small></h1>
  <div class="message_content">
  <p class="intro">
    <%= musketeer 'Bericht maak deel uit van transactie ', link_to_transaction(@message.transaction), '.' %>
    <%= musketeer 'Bericht volgt definitie ', h(@message.step.definition.title), '.' %>
    <%= musketeer 'Bericht is gebaseerd op stap ', h(@message.step.title), '.' %>
    <% if @message.request %>
      <%= musketeer 'Bericht beantwoord ', link_to_message(@message.request), '.' %>
    <% end %>
  </p>
  <p><%= message_status(@message) %></p>

  <p>
    <% if can? :examine, @message %>
      <%=h @message.body %>
    <% end %>
  </p>
  </div>
  <div class="actions">
    <%= link_to_edit_message(@message) if @message.outgoing? %>
    <%= link_to_reply_message(@message) %>
    <%= link_to_send_message(@message) %>
    <%= button_to_message_transaction_cancellation @message %>
  </div>
</div>
