<%= index_title %>

<p class="intro">
  All <%= link_to_instructions %> or only the
  <%= link_to "Start instructions", start_instructions_path %>
</p>

<ul>
<% @instructions.each do |instruction| %>
  <li>
    <%= link_to_instruction instruction %> in <%= link_to_procedure instruction.procedure %>
  </li>
<% end %>
</ul>

