<h1>Editing transaction_role</h1>

<% form_for(@transaction_role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @transaction_role %> |
<%= link_to 'Back', transaction_roles_path %>