<h1>Listing transaction_roles</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @transaction_roles.each do |transaction_role| %>
  <tr>
    <td><%=h transaction_role.title %></td>
    <td><%= link_to 'Show', transaction_role %></td>
    <td><%= link_to 'Edit', edit_transaction_role_path(transaction_role) %></td>
    <td><%= link_to 'Destroy', transaction_role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transaction_role', new_transaction_role_path %>