<h1>Listing receptions</h1>

<table>
  <tr>
    <th>Certificate</th>
    <th>Body</th>
    <th>Message</th>
  </tr>

<% @receptions.each do |reception| %>
  <tr>
    <td><%=h reception.certificate %></td>
    <td><%=h reception.body %></td>
    <td><%=h reception.message_id %></td>
    <td><%= link_to 'Show', reception %></td>
    <td><%= link_to 'Edit', edit_reception_path(reception) %></td>
    <td><%= link_to 'Destroy', reception, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reception', new_reception_path %>