<p>
  <b>Certificate:</b>
  <%=h @reception.certificate %>
</p>

<p>
  <b>Body:</b>
  <%=h @reception.body %>
</p>

<p>
  <b>Message:</b>
  <%=h @reception.message_id %>
</p>


<%= link_to 'Edit', edit_reception_path(@reception) %> |
<%= link_to 'Back', receptions_path %>