<h1>Definition <strong><%=h @definition.title %></strong></h1>
<p class="intro">
  <%= link_to "Reactions", definition_reactions_path(@definition) %> of this definition.
  <%= link_to "Steps", definition_steps_path(@definition) %> of this definition.
</p>

<p>
  <b>name:</b> '<%=h @definition.name %>'.
</p>
<div class="actions">
  <%= link_to_edit_definition @definition %>
</div>

