<% content_for :breadcrumb do %>
  <%= link_to "Identiteit", identity_path %>
<% end %>
<h1>De identiteit vaststellen</h1>

<%= render :partial => 'introductie' %>

<p>
  Hieronder kan de systeembeheerder de identiteit vaststellen van zijn organisatie via de ontvangen privésleutel.
</p>


<% semantic_form_for @identity, :url => identity_path do |f| %>
  <%= f.error_messages :header_message => "Kon identiteit niet vaststellen: #{@identity.errors.count} fout(en)" %>

  <% f.inputs 'Registrant' do %>
    <%= f.input :organization_id, :label => 'Mijn organisatie', :collection => Organization.all, :hint => 'Organisatie die deze Antorcha representeert.' %>
  <% end %>


  <% f.inputs 'Ondertekening' do %>
    <%= f.input :private_key, :as => :text, :hint => 'De privésleutel waarmee alle uitgaande berichten worden ondertekend. Geen privésleutel? Neem contract op met de Uitweg.' %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button 'Stel identiteit vast' %> of <%= link_to 'ga terug', identity_path %>
  <% end %>
<% end %>

