<h1><strong><%=h @step.title %></strong> bewerken</h1>
<p class="intro">binnen transactie <%= link_to h(@definition.title), @definition %> </p>

<% semantic_form_for @step.new_record? ? [@definition, @step] : @step do |f| %>
  <%= f.inputs :title, :start %>
  <% f.buttons do %>
    <%= f.commit_button %> of <%= link_to 'ga terug naar de transactiedefinitie', @definition %>
  <% end %> 
<% end %>

