<%= index_title %>

<p class="intro">
  All <%= link_to_steps %> or only the
  <%= link_to "Start steps", start_steps_path %>
</p>

<dl>
<% @steps.each do |step| %>
  <li>
    step #<%= step.id %>: <%= link_to_step step %> <small>(belongs to definition:<%= link_to_definition step.definition %>)</small>
		<b><%= "start step" if step.start? %></b>
  </li>
<% end %>
</dl>

