<h1>Stap: <%=h @step.title %></h1>
<% breadcrumb [@definition], @step %>


<% if @step.causes %>
  <p>
    <% @step.causes.each do |cause| %>
      Deze stap heeft als oorzaak <%= link_to_step cause %>.
    <% end %>
  </p>
<% end %>

<% if @step.permission_roles %>
  <h2>Toegankelijk voor rollen:</h2>
  <ul>
    <% @step.permission_roles.each do |role| %>
      <li><%= link_to_role role %></li>
    <% end %>
  </ul>
<% end %>

<% if @step.recipient_roles %>
  <h2>Verstuur bericht naar rollen:</h2>
  <ul>
    <% @step.recipient_roles.each do |role| %>
      <li><%= link_to_role role %></li>
    <% end %>
  </ul>
<% end %>


<div class="actions">
  <%= link_to_edit_step @step %> of
  <%= button_to_destroy_step @step %>
</div>
