<h1>New message</h1>
<p class="intro">
  For Task <%= link_to_task @task %>
</p>

<% semantic_form_for [@task, @message] do |f| %>

  <% f.inputs do %>
    <%= f.input :instruction, :as => :radio, :collection => @instructions_to_start_with, :label_method => :title %>
    <%= f.input :title %>
    <%= f.input :body %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button %> or <%= link_to "go back to messages", messages_path %>
  <% end %>

<% end %>

