<% breadcrumb @organization %>
<h1>
  <%=h @organization.title %>
</h1>
<p class="intro">
  <%= link_to 'Organisaties', organizations_path %> » <%=h @organization.title %>
</p>

<p>Bestemming is <%=h @organization.url %></p>

<h2>Rollen</h2>
<ul>
  <% @organization.roles.each do |role| %>
    <li><%= link_to_role role %></li>
  <% end %>
</ul>
</p>


<div class="actions">
<%= link_to_edit_organization @organization %>
</div>
