<% breadcrumb Transaction %>
<h1>Transactieoverzicht</h1>

<!--<p class="intro">-->
<!--	<% if @filtered_organizations %>-->
<!--	Transacties waarin de volgende organisaties betrokken zijn: <%= Array(@filtered_organizations).collect(&:title).join(', ') %>-->
<!--	<% end %>-->
<!--</p>-->



<ul>
<% @transactions.each do |transaction| %>
  <li>
    <%= link_to_transaction transaction %> (<%=h transaction.messages.count %> berichten) <%= l(transaction.created_at) %>
  </li>
<% end %>
</ul>


<% content_for :sidebar do -%>
	<h2>Transacties filteren</h2>
  <% semantic_form_for @search, :url => transactions_path do |f| %>
    <% f.inputs do %>
      <%= f.input :with_organizations, :as => :check_boxes, :collection => Organization.all, :value_method => :to_param %>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button 'Filter' %>
    <% end %>
  <% end %>
<% end %>
