<% breadcrumb Transaction %>
<h1>Transactie overzicht</h1>
<p class="intro">
  Maak een <%=link_to_new_transaction %>.
</p>

<% if @filtered_organizations %>
<h2>met communicatie aan: <%= Array(@filtered_organizations).collect(&:title).join(', ') %></h2>
<% end %>

<ul>
<% @transactions.each do |transaction| %>
  <li>
    <%= link_to_transaction transaction %> (<%=h transaction.messages.count %> messages)
  </li>
<% end %>
</ul>


<% content_for :sidebar do -%>
  <% semantic_form_for @search, :url => transactions_path do |f| %>
    <% f.inputs do %>
      <%= f.input :with_organizations, :as => :check_boxes, :collection => Organization.all, :value_method => :to_param %>
    <% end %>
  	<% f.buttons do %>
  	  <%= f.commit_button 'Zoek' %>
  	<% end %>
	<% end %>
<% end %>
