<% breadcrumb Transaction %>
<h1>Transactieoverzicht</h1>

<ul>
<% @transactions.each do |transaction| %>
  <li>
    <%= link_to_transaction transaction %>
    <p><%=h transaction.messages.count %> bericht(en) op <%= l(transaction.created_at) %></p>
  </li>
<% end %>
</ul>


<% content_for :sidebar do -%>
	<h2>Transacties filteren</h2>
	<p>Beperk de weergave van de transacties tot enkel die transacties waarin één of meer van de volgende organisaties zijn aangeschreven.</p>
  <% semantic_form_for @search, :url => transactions_path do |f| %>
    <% f.inputs do %>
      <%= f.input :organization_ids, :as => :check_boxes, :collection => Organization.all, :value_method => :to_param %>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button 'Filter' %>
    <% end %>
  <% end %>
<% end %>
