<% breadcrumb @transaction %>
<h1>Transactie <strong><%=h @transaction.title %></strong></h1>
	

<p class="intro">
  Volgt definitie 
	<% if can? :show, @transaction.definition %>
		<%=h(@transaction.definition.title) %>
	<% else %>
		<%=@transaction.definition.title%>
	<% end %>
</p>

<p><%= link_to "Berichten", transaction_messages_path(@transaction) %> binnen deze transactie</p>

<% if @transaction.cancelled? %>
  <p>Deze transactie is geannuleerd op <%= l @transaction.cancelled_at, :format => :short %></p>
<% end %>
<% if @transaction.stopped? %>
  <p>Deze transactie is gestopt op <%= l @transaction.stopped_at, :format => :short %></p>
<% end %>

<div class="actions">
	  <% unless @transaction.cancelled? %>
	    <%= button_to_transaction_cancellation @transaction %>
	  <% end %>
</div>
