<% breadcrumb @transaction, Message %>
<h1>New message</h1>
<p class="intro">
  For Transaction <%= link_to_transaction @transaction %>
</p>

<% semantic_form_for [@transaction, @message] do |f| %>

  <% f.inputs do %>
    <%#= f.input :step, :as => :radio, :collection => @steps_starting_steps, :label_method => :title %>
    <%= f.input :step, :as => :radio, :collection => @steps, :label_method => :title %>
    <%= f.input :title %>
    <%= f.input :body %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button %> or <%= link_to "go back to messages", messages_path %>
  <% end %>

<% end %>

