<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Steps: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes', 'application' %>

</head>
<body class="<%= controller.controller_name %>">
  
  <div class="heading"><div class="inner">
    <span class="title">Antorcha</span>
    <p>
      <%= [
        link_to_transactions, link_to_messages,
        link_to_definitions, link_to_steps,
        link_to_workers, link_to_reactions
      ].compact.join(" | ") %>
    </p>
    
    <p>
      <% %w[maintainer sender advisor].each do |user_session| %>
        <% if controller.current_user.include? user_session.to_sym %>
          <%= button_to "Give up #{user_session} role", user_session_path(:id => user_session), :method => :delete %>
        <% else %>          
          <%= button_to "Act as #{user_session} role", user_session_path(:id => user_session), :method => :put %>
        <% end %>
      <% end %>
    </p>
    
  </div></div>
  
  <% if flash[:error] %>
    <div class="flash error">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="flash notice">
      <p><%= notice %></p>
    </div>
  <% end %>
  <div class="page">
    <%= yield %>
  </div>
</body>
</html>
