<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> <%= t "activerecord.models.#{controller.controller_name.singularize}.other" %> - <%= t controller.action_name %></title>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes', 'application', :cache => true %>
	<%= javascript_include_tag 'jquery/jquery.base', 'jquery/jquery.ui', :cache => true %>
	<%= javascript_include_tag :all, :cache => true %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="page_container">
 	 <div id="header">
			<div id="logo">
				<a href="/"><img src="/images/header_logo.png" alt="Antorcha"></a>
			</div>
			<div id="authentication">
				<% if user_signed_in? %>
					<%= link_to "Uitloggen", destroy_user_session_path %>
				<% else %>
					<%= link_to 'Inloggen', new_user_session_path %>
				<% end %>
			</div>
		</div>
	
		<% flash.each do |name, message| %>
			<%= content_tag :div, message, :class => "flash #{name}" %>
		<% end %>
			
		<div id="navigation">
			<ul class="menu" id="tabs">
	    	  <% 
						new_transaction_link = link_to("Nieuwe transactie", new_transaction_initiation_path, :class=>"transaction_initiation") if can? :create, Transaction
						[
			        link_to_messages, link_to_workers, new_transaction_link, link_to_users, link_to_castables, link_to_transactions
			      ].compact.each do |link|
						  %>
							<li>
								<%= link %>
							</li>
					<% end %>
	   	</ul>
		</div>
 		
	  <div id="page">
			<div id="breadcrumb"><%= yield(:breadcrumb) %>
			</div>
		  <div id="main">
				<%= yield %>
			</div>
			<div id="sidebar">
		 		<%= yield(:sidebar) %>
			</div>
	  </div>
	</div>
</body>
</html>
