<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Instructions: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes', 'application' %>
</head>
<body>
  
  <div class="heading"><div class="inner">
    <span class="title">Antorcha</span>
    <p>
      <%= link_to "Messages", messages_path %> |
      <%= link_to "Procedures", procedures_path %> |
			<%= link_to "Instructions", instructions_path %>
    </p>
  </div></div>
  
<% if flash[:notice] %>
  <div class="flash">
    <p><%= notice %></p>
  </div>
<% end %>
<div class="page <%= controller.controller_name %>">

<%= yield %>
</div>
</body>
</html>
