<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> <%= t "activerecord.models.#{controller.controller_name.singularize}.other" %> - <%= t controller.action_name %></title>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes', 'application' %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="page_container">
 	 <div id="header">
			<div id="logo">
				<a href="/"><img src="/images/header_logo.png" alt="Antorcha"></a>
			</div>
		</div>
		<div id="navigation">
			<ul class="menu" id="tabs">
	      <% [
	        link_to_messages, link_to_definitions,
	        link_to_workers, link_to("Nieuwe transactie", new_transaction_initiation_path, :class=>"transaction_initiation")
	      ].compact.each do |link|
			  %>
					<li>
						<%= link %>
					</li>
				<% end %>
	   	</ul>


		</div>
 		<% if flash[:error] %>
	    <div class="flash error">
	      <p><%= flash[:error] %></p>
	    </div>
	  <% end %>
	  <% if flash[:notice] %>
	    <div class="flash notice">
	      <p><%= notice %></p>
	    </div>
	  <% end %>
	  <div id="page">
			<div id="breadcrumb">{Breadcrumb &gt; Breadcrumb}
			</div>
		  <div id="main">
				<%= yield %>
			</div>
			<div id="sidebar">
				<div class="devnav">

					<div id="user">
			       <p>communicator
					      <% %w[maintainer communicator advisor].each do |user_session| %>
					        <% if controller.current_user.include? user_session.to_sym %>
					          <%= button_to "Give up #{user_session} role", user_session_path(:id => user_session), :method => :delete %>
					        <% else %>          
					          <%= button_to "Act as #{user_session} role", user_session_path(:id => user_session), :method => :put %>
					        <% end %>
					      <% end %>
					      <% if Rails.env.development? %>
					      	Active user role: <%=h controller.current_user.join(', ') %>
					      <% end %>
					    </p>
			    </div>
				  <p>
					<%= debug session.inspect %>
					</p>
					<% if controller.current_user.include? "maintainer".to_sym %>
						<ul class="menu">
				      <% [
				        link_to_transactions, link_to_messages,
				        link_to_definitions, link_to_steps,
				        link_to_workers, link_to_reactions, link_to("Nieuwe transactie", new_transaction_initiation_path, :class=>"transaction_initiation")
				      ].compact.each do |link|
						  %>
								<li>
									<%= link %>
								</li>
							<% end %>
				   	</ul>
					<% end %>
				</div>
		 		<%= yield(:sidebar) %>
			</div>
	  </div>
	</div>

</body>
</html>
