<h1>Listing inboxes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @inboxes.each do |inbox| %>
  <tr>
    <td><%=h inbox.title %></td>
    <td><%=h inbox.description %></td>
    <td><%= link_to 'Show', inbox %></td>
    <td><%= link_to 'Edit', edit_inbox_path(inbox) %></td>
    <td><%= link_to 'Destroy', inbox, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New inbox', new_inbox_path %>