<p>
  <b>Title:</b>
  <%=h @inbox.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @inbox.description %>
</p>

<p>
------------------------------------------------------------------------------
</p>
<% @items.each do |item| %>

<p>
  <b>Item description:</b>
  <%=h item.description %>
</p>
<% end %>

<%= link_to 'Create new Item', new_inbox_item_path(@inbox) %>
<%= link_to 'Edit', edit_inbox_path(@inbox) %> |
<%= link_to 'Back', inboxes_path %>